@import "../variables";

.entry {
  padding: 30px 20px;
  text-align: center;
  .title {
    margin-top: 0;
    margin-bottom: 35px;
    color: $color7;
    font-size: 2rem;
  }

  .table-row {
    background-color: $color7;
    color: $color4;
    th {
      font-size: 0.65rem;
      color: $color4;
      font-weight: 700;
    }
  }
  .list-item {
    td {
      font-size: 0.65rem;
    }
    .img {
      width: 100px;
      height: 100px;
    }
    .item-status-true {
      color: $color15;
    }
    .item-status-false {
      color: $color14;
    }
    .entry-btn {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .fa-edit {
        color: $color5;
        font-size: 1.2rem;
      }
      .fa-trash-alt {
        color: $color14;
        font-size: 1.2rem;
      }
    }
  }
}
