$color1: #383842;
$color2: #c49a54;
$color3: #eeeeee;
$color4: #ffffff;
$color5: #219be0;
$color6: #0d8abc;
$color7: #124e96;
$color8: #c49a54;
$color9: #dcb572;
$color10: #ebddc8;
$color11: #34bfd5;
$color12: #c3f1ff;
$color13: #868688;
$color14: #ff304f;
$color15: #21e6c1;
$color16: #f3f169;

$title-size: 1.2rem;
